li {
    float: left;
}

li a {
    display: block;
    padding: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #383636;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.active {
    background-color: darkred;
    color: white;
}

li a:hover:not(.active) {
    background-color: #1d1a1a;

}

nav{
    text-align: center;
    color: darkred;
}

h1{
    color:white;
    background-color:darkred;
    text-align: center;
    border: 2px solid black;
    
}

article{
    text-align: center;
    font-size: large;
}

footer{
    background-color:gray;
    color:darkgray;
    text-align: right;
}

address{
    color:rgb(74, 27, 5);
}


#textid{
    color:black;
}

.textclass {
    font-weight: bold;
    color:darkred;
}

div.seconddiv{
    background-color:gray;
    color: black;
}

div.seconddiv p{
    color:darkblue;
}

div.thirddiv{
    background-color:gray;
    color: black;
}

div.thirddiv p{
    color:darkblue;
}


hgroup:hover{
    color:yellow;
}
